<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class List</title>
    <link rel="stylesheet" href="../static/styles/profCourses.css">
    <script src="../script.js"></script>
</head>
<body>
    <section class="wholeBlock">
        <div class="blockBody">
            <p id="greetingUser">Welcome {{g.user.username}}!</p>
            <p id="uniTitle">University of Decce</p>
            <form method="POST" class="signoutForm">
                <p class="containSignout">
                    <input type="submit" class="signoutButt" name="sign" value="Signout">
                </p>
            </form>
            <div class="infoContainer">
                <form method="GET" class="tableForm f0">
                    <button type="submit" class="yourCourses" name="updateTable">
                        Your Courses
                    </button>
                </form>
                <table id="yourCourseTable">
                    <tr>
                        {% for header in headings %}
                        <th class="tableHeader">{{ header }}</th>
                        {% endfor %}
                    </tr>
                    {% for row in data %}
                    <tr>
                        {% for cell in row %}
                        {% if cell == row[0] %}
                            <td>
                                <form method="GET" class="exploreClass">
                                    <button type="submit" class="classButt" name="classButt">
                                        {{ cell }}
                                    </button>
                                </form>
                            </td>
                        {% else %}
                            <td>{{ cell }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
</body>
</html>