<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class List</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/profViewCourse.css') }}">
</head>
<body>
    <section class="wholeBlock">
        <div class="blockBody">
            <p id="greetingUser">Welcome {{g.user.username}}!</p>
            <p id="uniTitle">University of Decce Knutts</p>
            <form method="POST" class="signoutForm">
                <p class="containSignout">
                    <input type="submit" class="signoutButt" name="sign" value="Signout">
                </p>
            </form>
            <div class="infoContainer">
                <form method="POST" class="tableForm f0">
                    <input type="submit" class="backButt" name="back" value="backout">
                    <button class="yourCourse" name="updateTable">
                        {{ className }}
                    </button>
                </form>
                <table id="yourCourseTable">
                    <tr>
                        {% for header in headings %}
                        <th class="tableHeader">{{ header }}</th>
                        {% endfor %}
                    </tr>
                    {% for row in data %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
</body>
</html>